// Define variables for your color scheme

// For example:
$red: #e12e4b;
$blue: #167FFB;
$yellow: #ffc107;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray-background: #f3f3f399;
$light-gray: #F4F4F4;
$light-gray-light-bk: #717171;
$text-color: #3b3c3d;
$body-background: #F6F9FC;
