@font-face {
    font-family: "SF Pro Text";
    src: url("fonts/sf-pro-text/SF-Pro-Text-Light.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "SF Pro Text";
    src: url("fonts/sf-pro-text/SF-Pro-Text-Regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "SF Pro Text";
    src: url("fonts/sf-pro-text/SF-Pro-Text-Semibold.otf") format("opentype");
    font-weight: 600;
}


// Define fonts for body and headers
$body-font: "SF Pro Text";
$headers-font: "CircularStd";


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
