.home-banner{
  height: 70vh;
  background: red;
  display:flex;
  justify-content: center;
  align-items: center
}

#home-banner-search-form{
  width: 70%;
  .btn-primary{
    width: 40%;
    margin: 0 auto;
    margin-top: 18px;
    display: block;
  }


}
