<div class="spinner-animate-to-result">
  <svg viewBox="0, 0, 100, 100">
    <g transform="">
      <circle class="spinner" id="js-spinner"  stroke-miterlimit="10" cx="50" cy="50" r="44"/>
      <polyline class="tick" id="js-success-tick" stroke-miterlimit="10" points="93,15 49,65 28,42"/>
      <svg viewBox="0 0 50 50">
<path class="success-ring" id="js-success-ring" d="M37.06,4.74A23.6,23.6,0,0,0,6.63,8.93a23.32,23.32,0,0,0-.91,29.25,23.34,23.34,0,0,0,29.86,6.06A23.46,23.46,0,0,0,46.1,16.36"/>
      </svg>
  </g>
  </svg>
</div>
