<div class="empty-card-wrapper">
  <h1 class="card-title">Non hai prodotti nel carrello</h1>
  <h3 class="card-subtitle">Sfoglia tra i negozi e scohpri le delizie locali!</h3>
  <%= image_tag 'cart.png' %>
  <%= link_to "Torna alla lista Negozi", stores_path, class:"btn btn-primary" %>
  <% if current_user.orders.any? %>
    <%= link_to "Vedi i tuoi vecchi ordini", user_dashboard_path, class:"btn btn-secondary mt-3" %>
  <% end %>

</div>
