.card-title{
  font-size: 24px;
  margin-bottom: 4px;
  color: #3b3c3d;
  margin-bottom:40px
}


.card-subtitle{
  font-size: 20px;
  font-weight: 100;
  font-size: $h3-medium-size;
  margin-bottom: 6px
}

.card-subtitle-small{
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 3px;
    color: #717171;

}
