.order-summary-card{
  border-bottom: 1px solid #F4F4F4;
  padding: 24px 0px;
  margin-bottom: 30px;
  p{
    font-size: $p-medium-size;
    color: gray;
    margin-bottom: 2px
  }
  h3{
    font-size: $h3-small-size;
  }
  &__header{
    display: flex;
    align-items: center;
    padding: 15px 0px;
    margin-bottom: 10px;

    div{
      display: flex;
      align-items: center;

    }
    h3{
      font-size:$h3-small-size;
      margin-right: 20px;
      margin-bottom: 0px
    }
    p{
      font-size: $h3-small-size;
      margin-right: 14px
    }
  }
}
