.merchant-product-card{
  display: flex;
  background: white;
  align-items: center;
  padding: 8px 8px;
  margin-bottom: 4px;
  &.header-card{
    padding: 3px 16px;
    font-weight: bold
  }
}

.merchant-product-card-image{
  width: 5%;
  img{
    width: 20px;
  }
}

.merchant-product-card-category{
  width: 15%;
  padding: 0px 8px
}

.merchant-product-card-name{
  width: 35%;
  padding: 0px 8px
}

.merchant-product-card-price{
  width: 10%;
  padding: 0px 8px
}

.merchant-product-card-discount{
  width: 10%;
  padding: 0px 8px
}

.merchant-product-card-sold-by{
  width: 15%;
  padding: 0px 8px
}

.merchant-product-card-available{
  width: 5%;
  padding: 0px 8px
}

.merchant-product-card-links{
  width: 10%;
  display: flex;
  justify-content: flex-end;
  padding: 0px 8px;
  a{
    margin-right:5px
  }
}

.product-availbility{
  &.green{
    color: #60cc60;
  }
  &.red{
    color: red
  }
}


