<div class="merchant-products-container">
  <div class="products-container__form">
    <%= render 'merchant/products/search_product_form', categories: categories %>
  </div>
  <%= render 'merchant/products/products_list_header', categories: categories %>
  <div class="product-list-container">
    <% products.each do |product| %>
      <%= render 'merchant/products/product', product: product %>
    <% end %>
  </div>
</div>

