<div class="store-dashboard-modal-background">
  <div class="store-dashboard-modal-container">
    <i class="far fa-times-circle close-store-dashboard-modal"></i>
    <div class="store-dashboard-modal-body mx-auto">

    </div>
  </div>
</div>

