<div data-product-id="" class="merchant-product-card header-card">
  <div class="merchant-product-card-image">
  </div>
  <div class="merchant-product-card-category">
    Categoria
  </div>
  <div class="merchant-product-card-name">
    Nome
  </div>
  <div class="merchant-product-card-price">
    Prezzo
  </div>
  <div class="merchant-product-card-discount">
    Sconto
  </div>

  <div class="merchant-product-card-sold-by">
    Unità
  </div>
  <div class="merchant-product-card-available">
    Disponibilità
  </div>
  <div class="merchant-product-card-links">
  </div>
</div>
